<%= form_for [:admin, @book] do |f| %>
  <%= render "shared/error_messages", object: @book%>

  <div class="form-group">
    <%= f.select(:category_id, select_category,
    {:include_blank => "Loại sách"},{class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Tên sách" %>
  </div>

  <div class="form-group">
    <%= f.text_field :publisher, class: "form-control", placeholder: "Nhà xuất bản" %>
  </div>

  <div class="form-group">
    <%= f.text_field :author, class: "form-control", placeholder: "Tác giả" %>
  </div>

  <div class="form-group">
    <%= f.number_field :year, class: "form-control", placeholder: "Năm xuất bản", min: 1900 %>
  </div>

  <div class="form-group">
    <%= f.number_field :num_of_pages, class: "form-control", placeholder: "Số trang", min: 1 %>
  </div>

  <div class="form-group">
    <%= f.number_field :price, class: "form-control", placeholder: "Giá", min: 1 %>
  </div>

  <div class="form-group">
    <%= f.text_field :content, class: "form-control", placeholder: "Nội dung" %>
  </div>

  <div class="form-group">
    <%= f.label "Hình ảnh", class: "control-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
