<tr>
  <td><%= image_tag request_detail.book.image.to_s, class: "admin-image" %></td>
  <td><%= request_detail.book.name %></td>
  <td class="text-center">
    <div>
      <%= "Hư hỏng" if request_detail.damage? %>
      <%= "Mất sách" if request_detail.miss? %>
      <%= "Bình thường" if !request_detail.damage? && !request_detail.miss? %>
    </div>
    <% if @request.processing? %>
      <p>
        <%= link_to "Bình thường", normal_admin_request_detail_path(request_detail) %>,
        <%= link_to "Hư hỏng", damage_admin_request_detail_path(request_detail) %>,
        <%= link_to "Mất sách", miss_admin_request_detail_path(request_detail) %>
      </p>
    <% end %>
  </td>
</tr>
