<tr>
  <tr>
    <td><%= image_tag chitietdh.sanpham.hinhanh_url.to_s, class: "admin-image" %></td>
    <td><%= chitietdh.sanpham.ten %></td>
    <td><%= chitietdh.sanpham.thuonghieu %></td>
    <td><%= number_with_delimiter(chitietdh.dongia, delimiter: ".") %></td>
    <td><%= chitietdh.soluong %></td>
  </tr>
</tr>
