<tr>
  <td align="center">
    <%= link_to request_path(request), class: "btn btn-default" do %>
      <em class="fa fa-eye"></em>
    <% end %>
  </td>
  <td><%= request.id %></td>
  <td><%= request.from_date %></td>
  <td><%= request.to_date %></td>
  <td><%= request.real_date %></td>
  <td><%= request.forfeit.to_i %></td>
  <td>
    <% if request.start? %>
      <button class="btn btn-primary"><%= t "status_request_profile.#{request.status}" %></button>
    <% end %>
    <% if request.processing? %>
      <button class="btn btn-success"><%= t "status_request_profile.#{request.status}" %></button>
    <% end %>
    <% if request.finish? %>
      <button class="btn btn-danger"><%= t "status_request_profile.#{request.status}" %></button>
    <% end %>
  </td>
</tr>
