<% provide :title, @book.name %>
<div class="row">
  <div class="col-md-2">
    <p><b>NHÓM SẢN PHẨM</b></p>
    <%= render Category.all %>
  </div>
  <div class="col-md-10">
    <div class="row show-book">
      <div class="col-md-4">
        <%= image_tag @book.image_url.to_s %>
      </div>
      <div class="col-md-8">
        <h3 class="name"><%= @book.name %><sub class="category"><%= @book.category_name %></sub></h3>
        <p>
          <% 3.times do  %>
            <span class="fa fa-star checked"></span>
          <% end %>
          <% 2.times do  %>
            <span class="fa fa-star"></span>
          <% end %>
          <span><i>(0 lượt đánh giá)</i></span>
        </p>
        <p>
          <% if logged_in? %>
            <% if like? @book %>
              <%= link_to like_path(book_id: @book.id), method: :delete,
                class: "btn btn-danger", data: {confirm: "Bạn chắc chắn muốn bỏ thích?"} do %>
                Bỏ thích
              <% end %>
            <% else %>
              <%= render "likes/like" %>
            <% end %>
          <% else %>
            <%= link_to login_path do %>
              <%= render "likes/like" %>
            <% end %>
          <% end %>
          <span><i>(<%= @book.likes.count %> lượt yêu thích)</i></span>
        </p>
        <p class="content"><%= @book.content %>...</p>
        <p class="price"><%= number_with_delimiter(@book.price, delimiter: ".") %>đ</p>
        <p>Tác giả: <span class="author"><%= @book.author %></span></p>
        <p>Nhà xuất bản: <span class="author"><%= @book.publisher %></span></p>
        <%= link_to add_to_cart_cart_path(@book) do %>
          <button class="btn btn-success">
            <i class="fa fa-shopping-bag"></i>
            THÊM GIỎ HÀNG
          </button>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row show-book">
        <h4 style="padding-left: 1em; font-weight: bold;">Bình luận</h4><br>
        <div class="col-md-7"><%= render "comments/form" %></div>
        <div class="col-md-7"><%= render @book.comments %></div>
      </div>
  </div>
</div>
