<div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-md-12">
                <h5><span class="fa fa-shopping-bag"></span> GIỎ HÀNG CỦA BẠN</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <% if cart.count == 0 %>
              <p class="text-center">Bạn chưa có lựa chọn nào.</p>
            <% end %>
            <div class="col-md-8"> <!-- show list -->
              <% cart_shop.each do |sanpham| %>
                <div class="row cart-list">
                  <div class="col-md-2">
                    <%= image_tag sanpham.hinhanh_url.to_s, class: "cart-pic" %>
                  </div>
                  <div class="col-md-7">
                    <%= link_to sanpham_path(sanpham) do %>
                      <h4><strong><%= sanpham.ten %></strong></h4>
                      <h4><small><%= sanpham.thuonghieu %></small></h4>
                    <% end %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to remove_cart_cart_path(sanpham) do %>
                      <button type="button" class="btn btn-link btn-md">
                        <span class="glyphicon glyphicon-trash"> </span>
                      </button>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if cart.count > 0 %>
                <div class="row text-center">
                  <div class="col-md-4">
                    <%= link_to root_path do %>
                      <button type="button" class="btn btn-primary btn-sm btn-block">
                        <span class="glyphicon glyphicon-share-alt"></span> TIẾP TỤC
                      </button>
                    <% end %>
                  </div>
                  <div class="col-md-4 col-md-offset-2">
                    <%= link_to empty_cart_carts_path do %>
                      <button type="button" class="btn btn-danger btn-sm btn-block">
                        <i class="fa fa-refresh"></i> LÀM MỚI
                      </button>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <% if cart.count > 0 %>
                <% if logged_in? %>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-center">Bạn sẽ nhận sách vào ngày nào?</p>
                      <%= render "donhangs/form" %>
                    </div>
                  </div>
                <% else %>
                  <%= link_to "Đăng nhập", login_path %>  để mượn ngay?
                <% end %>
              <% end %>
            </div> <!-- checkout -->
          </div>
        </div>
      </div>
    </div>
  </div>
