<% provide :title, @donhang.nguoidung.ten %>
<%= render "admin/static_pages/layout" %>
  <content class="col-md-10 content">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <p>Người đặt hàng: <b><%= @donhang.nguoidung.ten %></b></p><hr>
          <p>Địa chỉ: <b><%= @donhang.nguoidung.diachi %></b></p><hr>
          <p>Số điện thoại: <b><%= @donhang.nguoidung.sdt %></b></p><hr>
        </ul>
      </div>
      <div class="col-md-4">
        <% if @donhang.diachinhan? %>
          <ul>
            <p>Người nhận hàng: <b><%= @donhang.nguoinhans.first.hoten %></b></p><hr>
            <p>Địa chỉ: <b><%= @donhang.nguoinhans.first.diachi %></b></p><hr>
            <p>Số điện thoại: <b><%= @donhang.nguoinhans.first.sdt %></b></p><hr>
          </ul>
        <% else %>
          <ul>
            <p>Người nhận hàng: <b><%= @donhang.nguoidung.ten %></b></p><hr>
            <p>Địa chỉ: <b><%= @donhang.nguoidung.diachi %></b></p><hr>
            <p>Số điện thoại: <b><%= @donhang.nguoidung.sdt %></b></p><hr>
          </ul>
        <% end %>
      </div>
      <div class="col-md-4">
        <% unless @donhang.magh.nil? %>
          <ul>
            <p>Nhân viên giao hàng: <b><%= @donhang.giaohang.ten %></b></p><hr>
            <p>Địa chỉ: <b><%= @donhang.giaohang.diachi %></b></p><hr>
            <p>Số điện thoại: <b><%= @donhang.giaohang.sdt %></b></p><hr>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% if @donhang.ordering? %>
        <%= render "confirm", donhang: @donhang %>
      <% end %>
      <% if @donhang.shiping? %>
        <button class="btn btn-success"><%= t "status_request_profile.#{@donhang.trangthai}" %></button>
      <% end %>
      <% if @donhang.finish? %>
        <button class="btn btn-warning"><%= t "status_request.#{@donhang.trangthai}" %></button>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <table class="table table-striped table-bordered table-list">
        <thead>
          <tr>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Thương hiệu</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
          </tr>
        </thead>
        <tbody>
          <%= render @donhang.chitietdhs %>
        </tbody>
      </table>
    </div>
  </content>
</div>
