<div class="main">
  <aside class="col-md-2">
    <div class="sidebar">
      <ul class="list-sidebar bg-defoult">
        <li>
          <%= link_to admin_root_path do %>
            <i class="fa fa-home"></i>
            <span class="nav-label">
              Trang chủ
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_donhangs_path do %>  <!-- admin_requests_path -->
            <i class="fa fa-check-square"></i>
            <span class="nav-label">Đơn hàng</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_loaisps_path do %>
            <i class="fa fa-cube"></i>
            <span class="nav-label">Loại sản phẩm</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_sanphams_path do %>
            <i class="fa fa-book"></i>
            <span class="nav-label">Sản phẩm</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="fa fa-user"></i>
            <span class="nav-label">Người dùng</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_nhaphangs_path do %>
            <i class="fa fa-history"></i>
            <span class="nav-label">Nhật ký nhập hàng</span>
          <% end %>
        </li>
      </ul>
    </div>
  </aside>
