<% provide :title, "Quản trị hệ thống" %>
<%= render "admin/static_pages/layout" %>
<content class="col-md-10 content">
  <div class="col-md-12">
      <div class="row">
        <%= image_tag("admin.png") %>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-book fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading"><%= Book.count %></p>
                  <p class="announcement-text">Sách</p>
                </div>
              </div>
            </div>
            <%= link_to admin_books_path do %>
              <div class="panel-footer announcement-bottom">
                <div class="row">
                  <div class="col-xs-6">Xem</div>
                  <div class="col-xs-6 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-user-circle fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading"><%= Author.count %></p>
                  <p class="announcement-text">Tác giả</p>
                </div>
              </div>
            </div>
            <%= link_to admin_authors_path do %>
              <div class="panel-footer announcement-bottom">
                <div class="row">
                  <div class="col-xs-6">Xem</div>
                  <div class="col-xs-6 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-users fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading"><%= User.count %></p>
                  <p class="announcement-text">Người dùng</p>
                </div>
              </div>
            </div>
            <%= link_to admin_users_path do %>
              <div class="panel-footer announcement-bottom">
                <div class="row">
                  <div class="col-xs-6">Xem</div>
                  <div class="col-xs-6 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="announcement-heading"></p>
                  <p class="announcement-text">Đang chờ xử lý</p>
                </div>
              </div>
            </div>
            <%= link_to admin_root_path do %> <!-- admin_requests_path -->
              <div class="panel-footer announcement-bottom">
                <div class="row">
                  <div class="col-xs-6">Xem</div>
                  <div class="col-xs-6 text-right">
                    <i class="fa fa-arrow-circle-right"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</content>
